{% extends "base.html" %}



{% block main %}



<div class="new-property">

<h1 class="fw-bold">Add New Property</h1>

<div class="form-box">





<form method="POST" action="{{ url_for('new_properties') }}" enctype="multipart/form-data">

    {{ form.csrf_token }}

    <!--Property Title-->

    <div class="form-group mb-3">
    {{ form.title.label(class="form-label") }}
    {{ form.title(class="form-control") }}
    </div>

    <!--Description-->

    <div class="form-group mb-3">
    {{ form.description.label(class="form-label") }}
    {{ form.description(class="form-control") }}
    </div>

    <div class="row mb-3">

    <!-- No. of Bedrooms -->
    <div class="col-md-6">
        {{ form.number_of_bedrooms.label(class="form-label") }}
        {{ form.number_of_bedrooms(class="form-control") }}
    </div>

    <!-- No. of Bathrooms -->
    <div class="col-md-6">
        {{ form.number_of_bathrooms.label(class="form-label") }}
        {{ form.number_of_bathrooms(class="form-control") }}
    </div>
    </div>


    <div class="row mb-3">
    <!-- Price -->
    <div class="col-md-6">
        {{ form.price.label(class="form-label") }}
        {{ form.price(class="form-control") }}
    </div>

    <!-- Property Type -->
    <div class="col-md-6">
        {{ form.property_type.label(class="form-label") }}
        {{ form.property_type(class="form-control") }}
    </div>
    </div>

    <!--Location-->

    <div class="form-group mb-3">

    <div class="col-md-6">
    {{ form.location.label(class="form-label") }}
    {{ form.location(class="form-control") }}
    </div>

    </div>



    <!--Photo-->

    <div class="form-group mb-3">
    {{ form.photo.label(class="form-label") }}
    {{ form.photo(class="form-control") }}
    </div>


    <button type="submit" name="submit" class="btn btn-primary">Add Property</button>


  
</form>


</div>


</div>

{% endblock %}

