{% extends "base.html" %}



{% block main %}

{% include 'flash_messages.html' %}

<h1 class="fw-bold">Properties</h1>

    
<div class="row">
    
    {% for property in properties %}
    
    <div class="col-md-4 mb-4">
        
        <div class="card h-100 shadow-sm border-0">
            
            <img class="card-img-top" src="{{ url_for('static', filename='uploads/' ~ property.photo_filename) }}" alt="Property Image">

            <div class="card-body">
                <h5 class="card-title mb-1 fw-semibold">
                    {{ property.title }}
                </h5>

                <p class="location text-muted small">
                    <i class="fa-solid fa-location-dot me-2"></i>{{ property.location }}
                </p>

                <span class="badge rounded-pill bg-sky-blue px-3 py-2 mt-2">
                    ${{ "{:,}".format(property.price) }}
                </span>
            </div>

            <div class="d-grid">
                <a href="{{ url_for('get_properties', property_id=property.id) }}" 
                   class="btn btn-primary py-3 fw-bold border-0" 
                   style="border-radius: 0 0 .375rem .375rem;">
                    View Property
                </a>
            </div>
        </div>
    </div>
  
    {% endfor %}
</div>




{% endblock %}

